header{
    background-color: #931311;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10vw;
    position: sticky;
    top: 0;
    z-index: 2;
}
.fa-bars{
    height: 100%;
    margin: auto 0;
    font-size: 2em;
}
.div-input-pesquisa{
    width: 50%;
    background-color: white;
    height: 45px;
    margin: auto 0;
    color: #222;
    border-radius: 10px;
    display: inline-flex;
}
.input-pesquisa{
    height: 100%;
    width: 93%;
    border-radius: 10px;
    padding-left: 0.8em;
    border: none;
    font-size: 1.2em;
    outline: none;
}
.icon-search{
    margin: auto;
}
.div-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login{

    font-size: 1.2em;
}
.fa-cart-shopping{
    margin: auto 0;
    font-size: 2em;
}