*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
body{
    background-color: #ffc100;
}
section{
    margin-bottom: 5vh;
}
h2{
    font-size: 1em;
    margin-bottom: 5vh;
}
.div-produtos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
}
.div-produto{
    background-color: #fff;
    padding: 8px;
}
.div-img-produto{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: #ebebeb solid 1px;
}
.desc-produto{
    font-size: .8em;
    margin-bottom: 1vw;
}
.p-valor{
    font-size: 1.2em;
    font-weight: bold;
    color: #2aaa3e;
    font-family: 'Open Sans', sans-serif;
}