*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.logo2{
    background-image: url(../img/logo-tijao.png);
    background-color: #ffc100;
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 50vw;
}